* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://media0.giphy.com/media/QpVUMRUJGokfqXyfa1/giphy.gif);
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
}
.glitch {
    color: white;
    font-size: 100px;
    position: relative;
    margin: 0 auto;
  }

  @keyframes noise-anim {
    0% {
      clip: rect(34px, 9999px, 10px, 0);
    }
    5% {
      clip: rect(16px, 9999px, 17px, 0);
    }
    10% {
      clip: rect(39px, 9999px, 12px, 0);
    }
    15% {
      clip: rect(20px, 9999px, 62px, 0);
    }
    20% {
      clip: rect(3px, 9999px, 66px, 0);
    }
    25% {
      clip: rect(96px, 9999px, 58px, 0);
    }
    30% {
      clip: rect(88px, 9999px, 48px, 0);
    }
    35% {
      clip: rect(43px, 9999px, 40px, 0);
    }
    40% {
      clip: rect(42px, 9999px, 37px, 0);
    }
    45% {
      clip: rect(65px, 9999px, 42px, 0);
    }
    50% {
      clip: rect(21px, 9999px, 71px, 0);
    }
    55% {
      clip: rect(50px, 9999px, 18px, 0);
    }
    60% {
      clip: rect(4px, 9999px, 2px, 0);
    }
    65% {
      clip: rect(33px, 9999px, 35px, 0);
    }
    70% {
      clip: rect(2px, 9999px, 82px, 0);
    }
    75% {
      clip: rect(68px, 9999px, 10px, 0);
    }
    80% {
      clip: rect(17px, 9999px, 60px, 0);
    }
    85% {
      clip: rect(97px, 9999px, 71px, 0);
    }
    90% {
      clip: rect(68px, 9999px, 88px, 0);
    }
    95% {
      clip: rect(41px, 9999px, 49px, 0);
    }
    100% {
      clip: rect(92px, 9999px, 1px, 0);
    }
  }
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    right: 102px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(65px, 9999px, 15px, 0);
    }
    5% {
      clip: rect(50px, 9999px, 71px, 0);
    }
    10% {
      clip: rect(34px, 9999px, 28px, 0);
    }
    15% {
      clip: rect(74px, 9999px, 99px, 0);
    }
    20% {
      clip: rect(41px, 9999px, 16px, 0);
    }
    25% {
      clip: rect(28px, 9999px, 48px, 0);
    }
    30% {
      clip: rect(58px, 9999px, 87px, 0);
    }
    35% {
      clip: rect(43px, 9999px, 62px, 0);
    }
    40% {
      clip: rect(25px, 9999px, 30px, 0);
    }
    45% {
      clip: rect(78px, 9999px, 64px, 0);
    }
    50% {
      clip: rect(36px, 9999px, 41px, 0);
    }
    55% {
      clip: rect(41px, 9999px, 64px, 0);
    }
    60% {
      clip: rect(37px, 9999px, 27px, 0);
    }
    65% {
      clip: rect(57px, 9999px, 40px, 0);
    }
    70% {
      clip: rect(62px, 9999px, 100px, 0);
    }
    75% {
      clip: rect(89px, 9999px, 48px, 0);
    }
    80% {
      clip: rect(30px, 9999px, 78px, 0);
    }
    85% {
      clip: rect(77px, 9999px, 34px, 0);
    }
    90% {
      clip: rect(42px, 9999px, 48px, 0);
    }
    95% {
      clip: rect(60px, 9999px, 20px, 0);
    }
    100% {
      clip: rect(60px, 9999px, 96px, 0);
    }
  }
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    left: 101px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
  *,html,body{cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), progress !important;}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    background: #eeeeec;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
.customSlider {
    opacity: 0;
    display: none;
}
.customSlider + label {
    position: relative;
    top: 35px;
    left: 15px;
    cursor: pointer;
}
.customSlider + label:before, .customSlider + label:after {
    background: #fff;
    position: absolute;
    content: '';
}
.customSlider + label:before {
    top: -90px;
    left: -60px;
    width: 80px;
    height: 40px;
    background: #ccc;
    border-radius: 20px;
    transition: background 0.75s;
}
.customSlider + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -55px;
    border-radius: 50%;
    transition: all 0.5s;
}
.customSlider:checked + label:after {
    height: 34px;
    width: 34px;
    top: -87px;
    left: -19px;
    border-radius: 50%;
}
.customSlider:checked ~ .wrapper {
    color: #fff;
    transition: background 0.6s ease;
    background: #31394d;
}
.customSlider:checked ~ .wrapper .top-icons i {
    color: #fff;
}
.customSlider:checked ~ .wrapper .profile .name {
    color: #fdfeff;
}
.customSlider:checked ~ .wrapper .profile .title {
    color: #7c8097;
}
.customSlider:checked ~ .wrapper .profile .description {
    color: #fdfeff;
}
.customSlider:checked ~ .wrapper .icon h4 {
    color: #fff;
}
.customSlider:checked ~ .wrapper .icon p {
    color: #666b7d;
}
.wrapper {
    width: 320px;
    height: 540px;
    background: #fdfeff;
    transition: background 0.6s ease;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    box-shadow: 10px 9px 40px 20px rgb(0 0 0 / 20%);
}
.wrapper .top-icons i {
    color: #080911;
}
.wrapper .top-icons i:nth-of-type(1) {
    float: left;
}
.wrapper .top-icons i:nth-of-type(2) {
    float: right;
}
.wrapper .top-icons i:nth-of-type(3) {
    float: right;
    padding-right: 0.8em;
}
.wrapper .profile {
    margin-top: 2.2em;
    position: relative;
}
.wrapper .profile:after {
    width: 100%;
    height: 1px;
    content: ' ';
    display: block;
    margin-top: 1.3em;
    background: #9ea7b3;
}
.wrapper .profile .check {
    position: absolute;
    right: 5em;
    bottom: 12.7em;
}
.wrapper .profile .check i {
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.wrapper .profile .thumbnail {
    width: 124px;
    height: 124px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    border-radius: 100%;
    box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}
.wrapper .profile .name {
    color: #2d354a;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.wrapper .profile .title {
    color: #7c8097;
    font-size: 0.75em;
    font-weight: 300;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.7em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.wrapper .profile .description {
    color: #080911;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1.3em;
    font-weight: bold;
}
.wrapper .profile .btn {
    color: #fff;
    width: 130px;
    height: 42px;
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
    background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.wrapper .social-icons {
    display: flex;
    margin-top: 1.2em;
    justify-content: space-between;
}
.wrapper .social-icons .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper .social-icons .icon a {
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 28px;
    line-height: 60px;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}
.wrapper .social-icons .icon:nth-of-type(1) a {
    background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.wrapper .social-icons .icon:nth-of-type(2) a {
    background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}
.wrapper .social-icons .icon:nth-of-type(3) a {
    background: linear-gradient(to bottom right, #6452e9, #639ff9);
}
.wrapper .social-icons .icon h4 {
    color: #080911;
    font-size: 1em;
    margin-top: 1.3em;
    margin-bottom: 0.2em;
}
.wrapper .social-icons .icon p {
    color: #666b7d;
    font-size: 12px;
}
.concept {
    position: absolute;
    bottom: 25px;
    color: #aab0c4;
    font-size: 0.9em;
    font-weight: 400;
}
.concept a {
    color: rgba(172, 25, 102, 1);
    text-decoration: none;
}
